.performance_container
  .row
    .col-md-2.image
      = image_tag(character.avatar.file.url(:for_list))

    .col-md-10
      .row
        .col-md-5.name
          = character.name
        .col-md-5
        .col-md-2
          %button.btn.btn-default
            Информация

      .row.text
        .col-md-10
          = character.description

      .row.content_row
        .col-md-4.input_header
          Продолжительность программы
        .col-md-4
          = select_tag :performance_duration, options_for_select(Duration::AVAILABLE_DURATIONS.map{|i| ["#{i} минут", i]}),
            {class: 'form-control'}

      .row.content_row
        .col-md-10.input_header
          Выберите время начала программы

      .row.content_row
        .col-md-12.hours_lent
          - (7..24).each do |hour|
            %div{class: 'hour_selector unselectable', data: {hour: hour}}
              = "#{hour}:00"

      .row.content_row
        .col-md-10.input_header
          Ваш выбор

      .row
        .col-md-10
          Какой то там выбор то там выбор  то там выбор то там выбор то там выбор то там выбор то там выбор
          акой то там выбор то там выбор  то там выбор то там выбор то там выбор то там выбор то там выбор

      .row.content_row
        .col-md-2.input_header
          Имя ребенка
        .col-md-2
          %input.form-control
        .col-md-2.input_header
          Что любит
        .col-md-5
          %input.form-control

      .row.content_row
        .col-md-2.input_header
          Примечание
        .col-md-7
          %input.form-control
        .col-md-2
          %button.form-control
            Забронировать
