- @characters.each_with_index do |character, index|
  - input_index = @last_index + index
  - css_class = index.zero? ? 'order_object' : 'order_object top_divider'
  .div{class: css_class, data: {object_id: character.id}}
    .row
      .col-md-3.header
        = OrderObjects::Presenter.character_full_name(character)
    .row.header_row
      .col-md-1
        время начала
      .col-md-1.action_link
        = link_to 'как в заказе', '#', class: 'start_as_in_order', data: { input_name:  "order[characters][#{input_index}][start]" }
      .col-md-1
        время окончания
      .col-md-1.action_link
        = link_to 'как в заказе', '#', class: 'stop_as_in_order', data: { input_name: "order[characters][#{input_index}][stop]"}

    .row.order_row
      .col-md-2
        %div.input-group.date.time_picker
          %input{name: "order[characters][#{input_index}][start]", class: 'form-control input-sm'}
          %span.input-group-addon
            %span.glyphicon.glyphicon-time
      .col-md-2
        %div.input-group.date.time_picker
          %input{name: "order[characters][#{input_index}][stop]", class: 'form-control input-sm'}
          %span.input-group-addon
            %span.glyphicon.glyphicon-time

      %input{name: "order[characters][#{input_index}][id]", class: 'form-control input-sm', type: 'hidden', value: character.id}
      %input{name: "order[characters][#{input_index}][owner_class]", class: 'form-control input-sm', type: 'hidden', value: @object.class}
      %input{name: "order[characters][#{input_index}][owner_id]", class: 'form-control input-sm', type: 'hidden', value: @object.id}

    .row.order_row
      - @actors[character.id].each do |actors|
        - actors.each do |actor_info|
          .col-md-2
            %input{type: 'checkbox', value: '1', name: "order[characters][#{input_index}][actors][#{actor_info[:id]}]"}
            = actor_info[:name]