- character = position.character

.div{class: 'order_object', data: {object_id: position.id}}
  .row
    .special_head_row.header
      = Order::Objects::Presenter.character_full_name(character)
    .sub_header.first.costume_occupation
      %span
        костюм
      %span.glyphicon.glyphicon-ok-sign
    .sub_header.actor_occupation
      %span
        аниматор
      %span.glyphicon.glyphicon-ok-sign

  .row.header_row
    .col-md-1
      время начала

    .col-md-1.action_link
      = check_box_tag "order[positions][#{index}][fixed_start]", 1, position.fixed_start, class: 'fixed_position_start'
      %span
        как в заказе

    .col-md-1
      время окончания

    .col-md-1.action_link
      = check_box_tag "order[positions][#{index}][fixed_stop]", 1, position.fixed_stop, class: 'fixed_position_stop'
      %span
        как в заказе

    .col-md-1
      стоймость

    .col-md-1.action_link
      = check_box_tag "order[positions][#{index}][payed]", 1, position.payed
      оплачено

    .col-md-1
      гонорар актера

    .col-md-1.action_link
      = check_box_tag "order[positions][#{index}][animator_payed]", 1, position.animator_payed
      оплачено

    .col-md-2
      накладные

  .row.order_row

    .col-md-2.error_container
      %div.input-group.date.time_picker
        %input{name: "order[positions][#{index}][start]", class: 'form-control input-sm position_start_time',
        value: position.start.strftime('%H:%M')}
        %span.input-group-addon
          %span.glyphicon.glyphicon-time
      .error_message

    .col-md-2.error_container
      %div.input-group.date.time_picker
        %input{name: "order[positions][#{index}][stop]", class: 'form-control input-sm position_stop_time',
        value: position.stop.strftime('%H:%M')}
        %span.input-group-addon
          %span.glyphicon.glyphicon-time
      .error_message

    .col-md-2.error_container
      .input-group.input-group-sm
        %input{name: "order[positions][#{index}][price]", class: 'form-control input-sm position_price',
          value: position.price}
        %span{class: 'input-group-addon', title: 'Вставить из прайса'}
          %span{class: 'glyphicon glyphicon-th-list load_from_price', data: {attribute: 'price'}}
      .error_message

    .col-md-2.error_container
      .input-group.input-group-sm
        %input{name: "order[positions][#{index}][animator_money]", class: 'form-control input-sm position_animator_money',
          value: position.animator_money}
        %span{class: 'input-group-addon', title: 'Вставить из прайса'}
          %span{class: 'glyphicon glyphicon-th-list load_from_price', data: {attribute: 'animator_money'}}
      .error_message

    .col-md-2.error_container
      %input{name: "order[positions][#{index}][overheads]", class: 'form-control input-sm position_overheads',
      value: position.overheads}
      .error_message

    %input{name: "order[positions][#{index}][character_id]", class: 'form-control input-sm character_id_hidden', type: 'hidden',
    value: character.id }
    %input{name: "order[positions][#{index}][owner_class]", class: 'form-control input-sm', type: 'hidden',
    value: owner.class}
    %input{name: "order[positions][#{index}][owner_id]", class: 'form-control input-sm', type: 'hidden',
    value: owner.id}

  .row.header_row
    .col-md-3
      Примечание к заказу
    .col-md-3
      Информация для актера
  .row.order_row
    .col-md-3
      = text_area_tag "order[positions][#{index}][order_notice]", position.order_notice,
      class: 'form-control input-sm', size: 20
    .col-md-3
      = text_area_tag "order[positions][#{index}][actor_notice]", position.actor_notice,
      class: 'form-control input-sm', size: 20

  .row.order_row
    .error_container.col-md-3
      %div{name: "order[positions][#{index}][actors]"}
      %div.error_message.actors_error

  = render partial: 'position_actors', locals: {position: position, index: index}