- Actor.order(:name).each_slice(3) do |slice|
  .row.order_row.actor_row
    - slice.each do |actor|
      - invitation = @actor_manager.actor_invitation(actor, position)

      - invited = @actor_manager.actor_invited?(actor, position)
      - occupied = @actor_manager.actor_occupied?(actor, position)
      - blocked = @actor_manager.actor_blocked?(actor, position)

      - if occupied
        %div{class: 'col-md-2 actor_name occupied'}
          = check_box_tag "order[positions][#{index}][actors][#{actor.id}][checked]", 1, false, disabled: true
          %span{title: 'Актер занят на другом заказе'}
            = actor.name
        .col-md-1.actor_corrector.occupied
          %input{class: 'form-control input-sm', name: "order[positions][#{index}][actors][#{actor.id}][corrector]",
            value: 0.0, title: 'Актер занят на другом заказе', disabled: true}

      - elsif invited
        %div{class: 'col-md-2 actor_name invited'}
          = check_box_tag "order[positions][#{index}][actors][#{actor.id}][checked]", 1, true
          %span{title: 'Актер уже приглашен'}
            = actor.name
        .col-md-1.actor_corrector
          %input{class: 'form-control input-sm', name: "order[positions][#{index}][actors][#{actor.id}][corrector]",
            value: invitation.corrector, title: 'Корректор'}

      - elsif blocked
        -# do not show actors if they are blocked for this character
        -#%div{class: 'col-md-2 actor_name blocked'}
        -#  = check_box_tag "order[positions][#{index}][actors][#{actor.id}][checked]", 1, false, disabled: true
        -#  %span{title: 'Актер не подходит на эту роль'}
        -#    = actor.name
        -#.col-md-1.actor_corrector.blocked
        -#  %input{ class: 'form-control input-sm', name: "order[positions][#{index}][actors][#{actor.id}][corrector]",
        -#    value: 0.0, title: 'Корректор', disabled: true}

      - else
        %div{class: 'col-md-2 actor_name'}
          = check_box_tag "order[positions][#{index}][actors][#{actor.id}][checked]", 1, false
          %span{title: 'Актер доступен для выбора'}
            = actor.name
        .col-md-1.actor_corrector
          %input{class: 'form-control input-sm', name: "order[positions][#{index}][actors][#{actor.id}][corrector]",
            value: 0.0, title: 'Корректор актера'}