= stylesheet_link_tag 'invitations_list'
= javascript_include_tag 'invitation_states_switcher'

%table.positions_list
  %thead
    %th{style: 'width: 10%'}
      Выступление
    %th{style: 'width: 5%'}
      Персонаж
    -#%th{style: 'width: 5%'}
      Статус
    %th{style: 'width: 10%'}
      Время
    %th{style: 'width: 5%'}
      Оплачено
    %th{style: 'width: 5%'}
      Цена
    %th{style: 'width: 7%'}
      ЗП аниматора
    %th{style: 'width: 7%'}
      Допники
    %th
      Приглашения

  %tbody
    - positions.each_with_index do |position, index|
      %tr
        %td
          = Order::Objects::Presenter.object_name(position.owner)
        %td
          = link_to position.character.name, admin_character_path(position.character)
        %td
          = l(position.start, format: '%d %b, %H:%M')
          = ' - '
          = position.stop.strftime('%H:%M')
        %td
          - if position.payed
            %span.status_tag.yes
              Да
          - else
            %span.status_tag.no
              Нет
        %td
          = position.price
          руб.
        %td
          = position.animator_money
          руб.
        %td
          = position.overheads
          руб.
        %td
          .invitations_list
            - if index.zero?
              .list_head
                .actor_name
                  Имя актера
                .actor_corrector
                  Корректор
                .actor_status
                  Статус
                .actor_actions
                  Действия

            - invitations = position.invitations
            - invitations.each_with_index do |invitation, i|
              - last_row = i != invitations.count - 1
              %div{class: "invitation_block #{ last_row ? 'not_last' : '' }", data: { id: invitation.id }}
                %div{class: 'actor_name', title: "Приглашение номер #{invitation.id}"}
                  = link_to invitation.actor.name, admin_actor_path(invitation.actor)
                .actor_corrector
                  = invitation.corrector
                  руб.
                .actor_status
                  = t("admin.invitation.statuses.#{invitation.status}")
                .actor_actions
                  - invitation.admin_events.each do |event|
                    = link_to(t("admin.invitation.events.#{event}"),
                        fire_event_admin_invitation_path(id: invitation.id, event_name: event))
                    %br

