.container

  .row.top_header.header_row
    .col-md-12
      = "#{@partner.name}."
      Выбор анимационной программы
      = text_field_tag :partner_id, @partner.id, type: :hidden

  %div{class: 'row header_row', style: 'display:none;', id: 'order_block'}
    .row.title_row
      .col-md-6
        Ваш заказ:
    .row
      .col-md-6
        %button#submit_order.btn.btn-sm.btn-primary
          Оформить заказ
  .row.header_row
    .col-md-7
      Выберите дату и время для бронирования

  .row.content_row_sm
    .col-md-3
      Дата
    .col-md-3
      Продолжительность

  .row.content_row
    .col-md-3
      %div{class: 'calendar', id: 'calendar'}

    .col-md-3
      = select_tag :performance_duration, options_for_select(Duration::AVAILABLE_DURATIONS.map{|i| ["#{i} минут", i]}),
        {class: 'form-control'}

  .row.header_row
    .col-md-7
      Выберите желаемое время проведения программы

  .row
    .col-md-12.hours_lent.main
      - (7..24).each do |hour|
        %div{class: 'hour_selector', data: {hour: hour}}
          = "#{hour}:00"

  .row.header_row
    .col-md-7
      Выберите
      = link_to 'программу', '#'
      ,
      = link_to 'персонажа', '#'
      или
      = link_to 'дворовой праздник', '#'

  .row.content_row
    .col-md-6
      = select_tag 'partner_screen_object', options_for_select(Order::Objects::Presenter.all_order_objects),
        include_blank: 'Не выбрано', class: 'form-control input-sm order_object_selector', id: 'objects_selector'

  .partner_object_box